@import '../../variables.css';

.streak-container {
  text-align: center;
  padding: 1rem;
  border: 0.0625rem solid var(--accent-color);
  border-radius: .625rem;
  width: 18rem;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font-family);
}

.streak-indicator {
  position: relative;
  display: inline-block;
  margin-bottom: 1.25rem;
}

.streak-circle {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: .625rem solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--accent-color);
}

.flame-icon {
  position: absolute;
  bottom: -.625rem;
  right: -.625rem;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.days-of-week {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.day-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .3125rem;
  color: var(--accent-color);
}

.continue-button {
  margin-top: 1rem;
  padding: .625rem 1.25rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: .3125rem;
  cursor: pointer;
}

.continue-button:hover {
  background-color: var(--button-hover-bg-color);
}
