@import '../../variables.css';

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font-family);
}

.dashboard-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dashboard-paragraph {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;

}

.dashboard-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
