:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #f09d51;
    --background-color: #f0f0f0;
    --text-color: #333;

    --primary-font-family: 'Comic Neue', serif;
    --secondary-font-family: 'Roboto', serif
    --font-size: 1rem; /* Tamanho base da fonte */
    --line-height: 1.5;
    --heading-font-size: 2rem;
    --button-bg-color: #f09d51;
    --button-text-color: #fff;
    --button-hover-bg-color: #d98c44;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  